*{
    margin: 0;
    padding: 0;
}

/* nav ber section start */

#container{
    background-color: #1b1b1b;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-img{
    width: 150px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    list-style: none;
    display: flex;
    
}

.menu-item{
    margin-right: 15px;
    padding-right: 10px;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s;
}

.menu-item:hover{
    color: #FF0000;
}

/* nav ber section end */

/* hero section start */

.banner-photo{
    width: 350px;
}

#banner-container{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 100vh;
    color: #fff;
    background-image: url("./images/background.png"), linear-gradient(45deg,#2e2d2d, #242222);
}

.title{
    font-size: 60px;
    font-weight: bold;
}

.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn{
    padding: 15px 30px;
    border: none;
    border-radius: none;
    background-color: #FF0000;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s;
    cursor: pointer;
}

.btn:hover{
    background-color: #fff;
    color: #FF0000;
    border-radius: none;
}

/* hero section end */

/* about section start */
#about-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about-title{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.about-photo{
    width: 400px;
}

.about-sub-title{
    font-size: 30px;
}
.about-description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* about section end */

/* box section start */

.service-title{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

#service-container{
    background-image: url("./images/background.png"), linear-gradient(#2e2d2d, #242222);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.box{
    width: 250px;
    height:300px;
    box-shadow: 4px 4px 15px gray;
    background-color: #000;
    padding: 40px;
    text-align: center;
    color: #fff;
}

.box-title{
    padding: 10px;
}

.box-icon{
    width: 70px;
}

.box-description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box-btn{
    padding: 5px 10px;
    border: none;
    border-radius: none;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    transition: all 0.3s;
    cursor: pointer;
}

.box-btn:hover{
    background-color: #FF0000;
    color: #fff;
    border-radius: none;
}

/* box section end */

/* footer section start */

#footer-container{
    background-color: #1a1919;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
}

.menu-link, a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.footer-heading{
    font-size: 20px;
}

.footer-details{
font-size: 16px;
margin-top: 10px;
}

.menu-link{
    margin-top: 10px;
}

.copyright__text{
    background-color: #1a1919;
    color: #fff;
    text-align: center;
    padding: 20px;
}
